#programme {
    .day {
        margin: 0 0 3em 0;
        table {
            td {
                vertical-align: middle;
            }
    
            .time {
                font-weight: bold;
            }
        }
    }
}

td.time {
    width:150px;
}

.schedule-table h3 {
    margin:0px;
}

.schedule-theme-row {
    background-color:lightgray;
}

.schedule-table-project td {
    font-size:80%;
}

.schedule-break-row {
    colour: violet;
}

.schedule-break-row h3 {
    colour:violet;
}

.speaker h3 {
    color:#ed4933;
}
